<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolf auth</title>
</head>
<body>
    <header>
        <a href="{% url 'index' %}">index</a>
        <a href="{% url 'turtle' %}">turtle</a>
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'register' %}">register</a>
        <a href="{% url 'logout' %}">logout</a>
    </header>
    
    {% block content %}
    {% endblock %}
</body>
</html>